* {
    background-color: bisque;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: brown;
    height: 100%;
}

#date {
    text-align: left;

}

h2 {
    margin-top: 20px;
}