
body {
    margin: 0px;
    background-color: #F1F1F1;
    height:100%;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
    height: 11vw;
    padding-bottom: 1%;
    margin-top: -1%;
    overflow: hidden;
}
  
.menu_link {
    position: relative;
    bottom: 1.2vw;
    background-color: transparent;
    color: #F1F1F1;
    text-align: center;
    padding-top: 2vw;
    font-size: 2vw;
    width: 15vw;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.menu_link:hover, #cart_button:hover, .footer_link:hover {
    color: #F2E9E4;
    transform: scale(1.13);
}

#logo {
    height: 8vw;
    position: relative;
    top: 1.2vw;
}

#cart_img {
    height: auto;
    width: 3.5vw;
    cursor: pointer;
}

#cart_button {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    background-color: #2D2D2D;
    border: 0;
    padding: 0;
    transition: 0.15s;
}

footer {
    margin: auto;   
    bottom: -100px; 
    height: auto;
    background-color: #2D2D2D;
    line-height: 100px;
    color: #F2E9E4;
}

.wrapper {    
    min-height: calc(100vh);
    margin: auto;
    padding-bottom: auto;
  }
  
.footer_link {
    background-color: #2D2D2D;
    color:#F2E9E4;
    font-size: 1.11vw;
    text-align: center;
    margin: 0;
    border: none;
    width: 15vw;
    font-family: "Kanit", "sans-serif";
    cursor: pointer; 
    transition: 0.2s; 
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 2px;
}

.flex-box {
    flex: 1;
    text-align: center;
    border: none;
    line-height: 2em;
    font-size: 1.11vw;
    font-family: 'Kanit', sans-serif;
}

.flex-box > h1 {
    font-size: 1.7vw;
} 

#phone{

    width: 15px;
    height: 15px;

}

#message{
    
    top: -50%;
    bottom: -1px;
    width: 20px;
    height: auto;
    
    
}

#emailtekst{
    height: fit-content;
}


@media (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        width: auto;
        height: 100%;
    }

    .footer_link {
        font-size: 25px;
    }
    .flex-box {
        font-size: 15px;
    }
    .footer_link:hover {
        color: #F2E9E4;
        text-decoration: underline;
        font-size: 30px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
}
